node_modules
data/output
.env
# Python
venv/
__pycache__/
*.pyc
.env
.vscode/

# Node/React
node_modules/
.next/
build/

# Database
*.db
*.sqlite

# Secrets
*.pem
*.key


# VSCode History
.history/

# Temporary data files
backend/data/audio_output/
backend/data/cached_api_videos/
backend/data/output/

# Virtual environments
testenv/
venv/
.venv1/
.venv2/


backend/video_processor.log