fastapi
uvicorn
moviepy==1.0.3
requests
razorpay
gtts
ffmpeg
Pillow==9.4.0
numpy==1.26.4
pydub==0.25.1
aiohttp
aiofiles
pydantic
python-dotenv
moviepy
ffmpeg-python
speechrecognition
numpy
scipy
opencv-python
flask
flask-cors
nltk
spacy
keybert
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz
sentence-transformers
